<html>

    <head><title>Data Crunchin' ahre</title></head>

    <body>
        <h3>{{server1}}</h3>
        <ul>
            {{data1}}
        </ul>
        
        <h3>{{server2}}</h3>
        <ul>
            {{data2}}
        </ul>
        
        <h3>{{server3}}</h3>
        <ul>
            {{data3}}
        </ul>
        
        <h3>{{server4}}</h3>
        <ul>
            {{data4}}
        </ul>
        
        <h3>{{server5}}</h3>
        <ul>
            {{data5}}
        </ul>

        <a href="/">{{especificos}}</a>
        <a href="/generic">{{genericos}}</a>
    </body>

</html>