<html>

<head><title>{{cabecera}}</title></head>

<body {{color}}>

<p>
<a href=./index.php?page=logout>{{salida}}</a><br><br>
<a href=./index.php?page=listaProductos>{{volver}}</a>
</p>

<h2>{{titulo}}</h2>

<ul>

{{contenido}}

</ul>

<h3>Total: ${{total}}</h3>

<a href=./index.php?page=listaProductos>{{volver}}</a><br><br>

</body>

</html>