<hr>

<li>Articulo: {{nombre}}<br>

<ul>
    <li>Cantidad: {{cantidad}}</li>
    <li>Total: {{subtotal}}</li><br>
    <li><a href=./index.php?page=carroSacar&idProducto={{id}}>{{sacar}}</a></li><br>
</ul>
</li>

