<html>

<head><title>Articulos</title></head>

<body {{color}}>

<p><a href="./index.php?page=logout">{{salida}}</a><br><br><a href="./index.php?page=verCarro">{{carro}}</a></p>

<h2>{{titulo}}</h2>

<ul>

{{contenido}}

</ul>

<a href="./index.php?page=verCarro">{{carro}}</a>
</body>

</html>