<html>

<head><title>Articulos</title></head>

<body {{color}}>

<p><a href="logout">{{salida}}</a><br><br><a href="verCarro">{{carro}}</a></p>

<h2>{{titulo}}</h2>

<ul>

{{contenido}}

</ul>

<a href="verCarro">{{carro}}</a>
</body>

</html>