<html>

<head><title>Registrar - {{titulo}}</title></head>

<body {{color}}>

<h1>{{titulo}}</h1>

<h3>{{mensaje}}</h3>

<h4>Registrar usuario:</h4>

<form action="registro" method="POST">
    <label>Usuario:</label><input type="text" name="usuario"/><br>
    <lable>Clave:  </lable><input type="password" name="clave"/><br>
    <input type="submit" value="Registrar">
</form>

<h5><a href="login">{{login}}</a></h5>

<h4>{{fallo}}</h4>

</body>
</html>