<html>

<head><title>Ingresar - {{titulo}}</title></head>

<body>

<h1>{{titulo}}</h1>

<h3>{{mensaje}}</h3>

<h4>Iniciar sesion:</h4>

<form action="index.php?page=log" method="POST">
    <label>Usuario:</label><input type="text" name="usuario"/><br>
    <lable>Clave:  </lable><input type="password" name="clave"/><br>
    <input type="submit" value="Acceder">
</form>

<h5><a href=./index.php>{{registro}}</a></h5>

<h4>{{fallo}}</h4>

</body>
</html>